/* 
  Grid System
  -Child Items
    1. grid-area: [Grid Row Start] [Grid Column Start] [Grid Row End] [Grid Column End]

*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.parent {
  width: 800px;
  background-color: #eee;
  height: 500px;
  margin: 20px auto;
  display: grid;
  grid-template-areas: "logo logo nav nav nav" "head head head head head";
  gap: 10px 10px;
}

.parent div {
  background-color: #f00;
  color: #fff;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.one {
  grid-area: logo;
}
.two {
  grid-area: nav;
}
.three {
  grid-area: head;
}
