.parent {
  margin-bottom: 20px;
  overflow: hidden;
  counter-increment: number-count;
}

.one {
  background-color: #eee;
  padding: 10px;
  width: 600px;
  float: left;
  position: relative;
}

.one::before {
  content: ""; /* attr(data-text) */
  position: absolute;
  left: -40px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #15ff6c transparent transparent;
}

.one::after {
  content: counter(number-count);
  position: absolute;
  background-color: red;
  color: white;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  right: -10px;
  top: 50%;
  margin-top: -10px;
}

.user {
  background-color: #eee;
  width: 50px;
  margin-right: 20px;
  padding: 10px;
  height: 55.5px;
  float: left;
  font-size: 50px;
  text-align: center;
}
